       body,
       html {
           height: 100%;
           margin: 0;
       }
       /*  start cover  */
       
       .cover-img {
           background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("cover-img.jpg");
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           image-rendering: pixelated;
           height: 100%;
       }
       /*  end cover */
       /* start top menu*/
       
       .top-menu {
           background-color: #f2f2f2;
       }
       /*End top menu*/
       /* start reviews*/
       
       .reviews {
           background-color: #f2f2f2;
       }
       
       .reviews-img1 {
           background-image: url("healthy.jpg");
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           image-rendering: pixelated;
       }
       
       .reviews-img2 {
           background-image: url("healthy2.jpg");
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           image-rendering: pixelated;
       }
       /*End reviews*/
       /*start history*/
       
       .history {
           margin-top: 20px;
           margin-bottom: 20px;
       }
       
       .history-img1 {
           background-image: url("history-img1.jpg");
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           image-rendering: pixelated;
       }
       
       .history-img2 {
           background-image: url("history-img2.jpg");
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           image-rendering: pixelated;
       }
       
       .history-img3 {
           background-image: url("history-img3.jpg");
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           image-rendering: pixelated;
       }
       /*End history*/
       
       .carousel-control-prev-icon {
           background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
       }
       
       .carousel-control-next-icon {
           background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
       }
       /*  start footer*/
       
       .footer {
           background-color: #f2f2f2;
           margin-top: 50px;
       }
       
       .icons-container {
           width: 100%;
           text-align: center;
           margin-left: auto;
           margin-right: auto;
           position: relative;
       }
       /*  End footer  */
       
       @media only screen and (min-width: 990px) {
           /* For Disktop */
           /*  start navbar  */
           .navbar-brand {
               margin-left: 50px;
               font-size: 1.5rem !important;
               color: white !important;
           }
           .navbar-nav {
               position: relative;
               left: 60%;
               font-size: 17px;
               font-weight: 500;
           }
           .nav-link {
               margin-left: 10px;
               margin-right: 10px;
               color: white !important;
           }
           /*  End navbar  */
           /*  start cover text  */
           .cover-text {
               text-align: center;
               color: white;
               margin-left: auto;
               margin-right: auto;
               margin-top: 15%;
           }
           .cover-text h1 {
               font-size: 3.3rem;
           }
           .cover-text p {
               padding-top: 1%;
               margin-left: 20%;
               margin-right: 20%;
               font-size: medium;
           }
           /*  end cover text */
           /* start top menu*/
           .top-menu-header {
               text-align: center;
               padding-top: 5%;
           }
           .top-menu-container {
               padding-top: 5%;
               padding-bottom: 5%;
               text-align: center;
           }
           .menu-img {
               height: 250px;
               width: 100%;
           }
           .menu-col h2 {
               padding-top: 20px;
               padding-bottom: 5px;
           }
           .menu-col p {
               padding-top: 5px;
               padding-bottom: 5px;
           }
           /*End top menu*/
           /* start reviews*/
           .reviews-col h1 {
               padding-top: 5%;
               font-size: 3.3rem;
           }
           .reviews-col h4 {
               padding-top: 5%;
           }
           .reviews-col p {
               padding-top: 5%;
               padding-bottom: 5%;
           }
           /*End reviews*/
           /*start history*/
           .history-text {
               padding-top: 10%;
               padding-bottom: 10%;
               text-align: center;
           }
           .history-text h5 {
               font-weight: 300;
               padding-bottom: 10px;
           }
           .history-text h3 {
               padding-top: 5px;
               padding-bottom: 5px;
           }
           .history-text p {
               padding-top: 5px;
               padding-bottom: 5px;
           }
           /*End history*/
           /*  start carousel food   */
           .food-text {
               padding-top: 5%;
               text-align: center;
           }
           .food-text h1 {
               font-size: 3.3rem;
           }
           .container-fluid {
               width: 85% !important;
           }
           #mobile-slider {
               display: none;
               visibility: hidden;
           }
           .modern-text {
               text-align: center;
               position: relative;
               padding-top: 3%;
           }
           .modern-house-slider {
               margin-left: 10px;
               margin-right: 10px;
               margin-top: 5%;
           }
           .slide-content {
               margin: 0;
               margin-left: auto!important;
               margin-right: auto!important;
           }
           .carousel-image {
               position: relative;
               height: 450px;
               width: 100%;
               max-width: 100%;
               overflow: hidden;
               image-rendering: pixelated;
           }
           /*  End carousel food  */
           /*  start footer  */
           .fab {
               margin-left: 3px;
               margin-right: 3px;
               cursor: pointer;
           }
           /*  End footer  */
       }
       
       @media only screen and (min-width: 768px)and (max-width: 990px) {
           /*       for tablet    */
           /*  start navbar  */
           .navbar-brand {
               color: white !important;
           }
           .navbar-nav {
               position: relative;
               text-align: center;
               font-size: 17px;
               font-weight: 500;
           }
           .navbar-toggler-icon {
               background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
           }
           .nav-link {
               color: white !important;
           }
           /*  End navbar  */
           /*  start cover text  */
           .cover-text {
               text-align: center;
               color: white;
               position: absolute;
               top: 40%;
           }
           .cover-text h1 {
               font-size: 3.3rem;
           }
           .cover-text p {
               padding-top: 1%;
               margin-left: 20%;
               margin-right: 20%;
               font-size: medium;
           }
           /*  end cover text */
           .top-menu-header {
               text-align: center;
               padding-top: 10%;
               padding-bottom: 5%;
           }
           .top-menu-container {
               padding-top: 5%;
               padding-bottom: 5%;
               text-align: center;
           }
           .menu-img {
               height: 230px;
               width: 100%;
           }
           .menu-col h2 {
               padding-top: 20px;
               padding-bottom: 5px;
               font-size: 1.7rem;
           }
           .menu-col p {
               padding-top: 5px;
               padding-bottom: 5px;
           }
           /*End top menu*/
           /*start history*/
           .history-text {
               padding-top: 5%;
               padding-bottom: 5%;
               text-align: center;
           }
           .history-text h5 {
               font-weight: 300;
               padding-bottom: 10px;
           }
           .history-text h3 {
               padding-top: 5px;
               padding-bottom: 5px;
               font-size: 1.6rem;
           }
           .history-text p {
               padding-top: 5px;
               padding-bottom: 5px;
           }
           /*End history*/
           /*  start carousel food  */
           .food-text {
               padding-top: 5%;
               text-align: center;
           }
           #mobile-slider {
               display: none;
               visibility: hidden;
           }
           .modern-text {
               text-align: center;
               position: relative;
               padding-top: 5%;
           }
           .modern-house-slider {
               margin-left: 10px;
               margin-right: 10px;
               margin-top: 30px;
           }
           .slide-content {
               width: 80% !important;
               margin: 0;
               margin-left: auto!important;
               margin-right: auto!important;
           }
           .carousel-image {
               position: relative;
               height: 300px;
               max-width: 100%;
               image-rendering: pixelated;
           }
           /*  End carousel food  */
       }
       
       @media only screen and (max-width: 767px) {
           /* For mobile phones: */
           /*  start navbar  */
           .navbar-toggler-icon {
               background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
           }
           .navbar-brand {
               color: white !important;
           }
           .nav-link {
               color: white !important;
           }
           /*  End navbar  */
           /*  start cover text  */
           .cover-text {
               text-align: center;
               color: white;
               position: absolute;
               top: 40%;
           }
           .cover-text h1 {
               font-size: 2rem;
           }
           .cover-text p {
               padding-top: 5%;
               font-size: small;
           }
           /*  end cover text */
           /* start top menu*/
           .top-menu-header {
               text-align: center;
               padding-top: 10%;
               padding-bottom: 10%;
           }
           .top-menu-container {
               padding-top: 5%;
               text-align: center;
               padding-bottom: 5%;
           }
           .menu-img {
               height: 200px;
               width: 90%;
           }
           .menu-col h2 {
               padding-top: 20px;
               padding-bottom: 5px;
           }
           .menu-col p {
               padding-top: 5px;
               padding-bottom: 5px;
           }
           /*End top menu*/
           /* start reviews*/
           .reviews-img1 {
               height: 250px;
               margin-top: 10px;
               margin-bottom: 10px;
           }
           .reviews-img2 {
               height: 250px;
               margin-top: 10px;
               margin-bottom: 10px;
           }
           /*End reviews*/
           /*start history*/
           .history-img {
               height: 250px;
           }
           .history-text {
               padding-top: 10%;
               padding-bottom: 10%;
               text-align: center;
           }
           .history-text h5 {
               font-weight: 300;
               padding-bottom: 10px;
           }
           .history-text h3 {
               padding-top: 5px;
               padding-bottom: 5px;
           }
           .history-text p {
               padding-top: 5px;
               padding-bottom: 5px;
           }
           /*End history*/
           /*  start carousel  food */
           .food-text {
               padding-top: 5%;
               text-align: center;
           }
           #Disktop-slider {
               display: none;
               visibility: hidden;
           }
           .modern-text {
               text-align: center;
               position: relative;
               padding-top: 5%;
           }
           .modern-house-slider {
               margin-left: 10px;
               margin-right: 10px;
               margin-top: 10%;
           }
           .slide-content {
               width: 100% !important;
               margin: 0;
           }
           .carousel-image {
               position: relative;
               height: 200px;
               width: 100%;
               max-width: 100%;
               image-rendering: pixelated;
           }
           /*  End carousel  food */
       }